.chromestyle {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	
}
section {
	margin:0px auto;
	padding:0px;
}
.chromestyle:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.chromestyle ul {
	width: 100%;
	padding: 4px 0;
}
.chromestyle ul li {
	display: inline;
	margin-right:15px;
}
.chromestyle ul li a {
	text-decoration: none;
}
.chromestyle ul li a:hover, .chromestyle ul li a.selected {
}
.dropmenudiv {
	position:absolute;
	top: 0;
	border-bottom-width: 0;

	z-index:100;
	background-color:transparent;
	width: auto;

	visibility: hidden;
	margin-left:-150px;
	padding-left:7px;
	padding-top:12px;
	padding-right:6px;
}
.dropmenudiv1 {
	position:absolute;
	top: 0;
	border-bottom-width: 0;
	line-height:18px;
	z-index:100;
	background-color:transparent;
	width: auto;
	visibility: hidden;
	margin-left:-25px;
	padding-left:7px;
	padding-top:12px;
	padding-right:6px;
}
#menu-recipes-en{

position:absolute;
	top: 0;
	border-bottom-width: 0;
	line-height:18px;
	z-index:100;
	background-color:transparent;
	width: auto;
	visibility: hidden;
	/*margin-left:-25px;*/
	padding-left:20px;
	padding-top:12px;
	padding-right:6px;

}
#menu-products-ru{

position:absolute;
	top: 0;
	border-bottom-width: 0;
	line-height:18px;
	z-index:100;
	background-color:transparent;
	width: auto;
	visibility: hidden;
	/*margin-left:-25px;*/
	padding-left:-200px;
	padding-top:12px;
	padding-right:6px;

}
.dropmenudiv a {
	width: auto;
	display: block;
	text-indent: 3px;
	padding: 2px 0;
	text-decoration: none;
	float:left;
	color:#FFF;
	margin-left:10px;
	-webkit-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-o-transition:color .2s ease-in;
	transition:color .2s ease-in;
}
* html .dropmenudiv a { /*IE only hack*/
	width: 100%;
	color:#FFF;
}
.dropmenudiv a:hover { /*THEME CHANGE HERE*/
	color:#766E66;
}
.dropdownindicator {
	visibility:hidden;
}
.chromestyle img {
	height: 0;
	visibility: hidden;
	width: 0;
}
