@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'tsanosregular';
	src: url ('../fonts/tsanos-webfont.eot');
	src: url('../fonts/tsanos-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tsanos-webfont.woff') format('woff'), url('../fonts/tsanos-webfont.ttf') format('truetype'), url('../fonts/tsanos-webfont.svg#tsanosregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block;
}
a, a:link, a:visited, a:active {
	text-decoration: none;
	color:#FFF;
}
/* Preloader */
#preloader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000; /* change if the mask should have another color then white */
	background-image:url(../img/background.jpg);
	z-index:99; /* makes sure it stays on top */
}
#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
body {
	font-family: 'tsanosregular', sans-serif;
	margin:0px auto;
	color:#FFF;
	background:url(../img/background.jpg);
}
header {
	width:100%;
	margin: 0 auto 20px auto;
}
header .headerImg {
	width:572px;
	margin-left: auto;
	margin-right: auto;
}
header #langs{
position:absolute; top:207px; left:1110px;	
}

nav {
	margin:0;
	padding:0;
	text-align:center;
	font-size:19px;
}
nav ul {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
nav ul li {
	display:inline;
	margin:5px;
}
nav a {
	color:#FFF;
	-webkit-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-o-transition:color .2s ease-in;
	transition:color .2s ease-in;
}
nav a:hover {
	color:#766E66;
}
.mainContent {
	margin:30px auto;
	max-width:1062px;
	height:400px;
}
.textContent {
	text-align:center;
	line-height:30px;
	width:600px;
	margin:auto;
}
.companyText {
	text-align:left;
	line-height:30px;
	width:900px;
	margin:auto;
}
.companyText h1 {
	color:#99672C;
	text-align:center;
	font-size:22px;
}
.footer {
	text-align:center;
	font-size:12px;
	display:block;
	margin:auto;
	width:1024px;
	clear:both;
}
/*products main*/
.products {
	width:306px;
	height:326px;
	margin:auto;
	position:relative;
}
.productsKritsinia {
	width:800px;
	height:80px;
	margin:auto;
	position:relative;
}
.mainProduct {
	width:306px;
	height:326px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
}
.mainProductKritsinia {
	width:820px;
	height:80px;
	margin:150px auto 0 auto;
	position:absolute;
	top:0;
	left:0;
}
.mainProductKritsinia img {
	width:820px;
}
/*submenu*/
#submenuContainer {
	position:absolute;
	width:100%;
}
.submenu {
	font-size:16px;
	width:1024px;
	margin:20px auto;
	clear: both;
	position:relative;
}
.submenu ul {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
.submenu ul li {
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
    padding-right: 15px;
}
.mainContainer {
	min-height:370px;
}
.mainContainerKritsinia {
	min-height:380px;
}
/*product page*/

.leftColumn {
	width:30%;
	position:relative;
	float:left;
}
.leftColTop {
	width:118px;
	height:59px;
}

.bubbleTop {
	position:absolute;
	top:-120px;
	left:-30px;
}
.leftColumn .leftColBottom {
	margin-top:-50px;
}
.leftColumnKritsinia .kritsiniaPhoto {
	margin:30px 110px;
	width:700px;
}
.leftColumnKritsinia .kritsiniaPhoto img {
	width:700px;
}
.leftColumnKritsinia h1 {
	font-size:25px;
	font-weight:lighter;
	color:#FFFFFF;
	margin-bottom:-17px;
}
.leftColumnKritsinia {
	width:550px;
	position:relative;
	float:left;
}
.leftColumnKritsinia h2 {
	font-size:25px;
	line-height:20px;
	font-weight:lighter;
	width:550px;
}
#recipesPhoto {
	margin-top:10px;
}
.centerColumn {
	margin:10px;
	float:left;
	position:relative;
	width:280px;
}
.centerColumnKritsinia {
	margin:10px 0;
	float:left;
	position:relative;
	width:700px;
}
.centerColumn h1 {
	font-size:25px;
	font-weight:lighter;
	color:#FFFFFF;
	margin-bottom:-25px;
}
.centerColumn h2 {
	font-size:25px;
	font-weight:lighter;
}
.centerColumn p {
	font-size:14px;
	margin-bottom:20px;
}
.centerColumn .whiteText {
	color:#FFFFFF;
}
.centerColumn .underlinedText {
	text-decoration:underline;
}
.rightColumn {
	width:40%;
	float:right;
	position:relative;
}
.rightColumn .rightColTop {
	float:right;
	margin-top:-50px;
}
.rightColumn .rightColMiddle {
	float:right;
}
.rightColumn .rightColMiddleKritsinia {
	float:right;
	margin-left:150px;
}
.rightColMiddleKritsinia img {
	float:right
}
.rightColumn .rightColBottom {
	float:right;
	font-size:14px;
	text-align:right;
	margin-top:30px;
}
/*recipes*/
.recipesMain {
	width:1000px;
	margin:auto;
}
.recipesMain img {
	float:left;
}
.recipesIngredients {
	width:300px;
	margin-left:30px;
}
.recipesExecution {
	width:28%;
	float:right;
	position:relative;
}
.recipesExecution ol {
	list-style:decimal;
	font-size:40px;
}
.recipesExecution ol li {
	margin-bottom:10px;
}
.recipesExecution h1 {
	font-size:22px;
	margin-bottom:20px;
	margin-top:4px;
}
.recipesExecution ol p {
	color:#FFF;
	font-size:16px;
}
.recipesIngredients h1 {
	font-size:22px;
	margin-bottom:30px;
	position:relative;
}
.recipesIngredients h2 {
	margin-left:50px;
	font-size:16px;
}
.recipesIngredients ul {
	margin-left:50px;
	font-size:13px;
	width:170px;
	z-index:100;
}
.recipesIngredients .recipeStroke {
	top:20px;
	z-index:-100;
	position:absolute;
}
.recipesExecution p {
	margin-top:15px;
	font-size:12px;
}
/*news*/
#news {
	margin: auto;
	text-align: center;
	width: 1000px;
}
#news h1 {
	color:#9a8c7e;
	font-size:23px;
	margin-bottom: 40px;
}
.new_paximadia {
	float:left;
	width:250px;
	height:310px;
}
.new_tsanakia {
	float:left;
	width:333px;
	height:150px;
	margin-bottom:30px;
}
.news_text {
	width:250px;
	text-align:center;
	font-size:14px;
}
.news_text_tsanakia {
	width:333px;
	text-align:center;
	font-size:14px;
}
/*contact*/
#contact {
	position:relative;
	margin:50px;
}
#contactLeft {
	width:550px;
}
#contactLeft p {
	margin:50px;
	font-size:18px;
}
#contactRight {
}
#cardBg {
	
	right:0;
	top:0;
	float:right;
	width:396px;
	height:400px;
	background:url(../img/contact_card.png) no-repeat ;
	position:absolute;
}

#name{
margin:35px  auto 10px 105px;
height:28px;
width:215px;
}
#surname, #email {
margin:2px  auto 10px 105px;
height:28px;
width:215px;
}
#message{
margin:27px  auto 5px 40px;
height:75px;
width:285px;	
}
#submit1{
float:right;
margin-right:60px;
}
